<a href="https://colab.research.google.com/github/navrgithub/NLP_Authorship_Attribution/blob/main/Baseline_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import csv
import pandas as pd 
    
# making dataframe 
df_human = pd.read_csv("new_human.csv") 
df_human.drop(columns=["Unnamed: 0"], inplace=True)
# print(df_human)

df_ctrl = pd.read_csv("new_ctrl.csv") 
df_ctrl.drop(columns=["Unnamed: 0"], inplace=True)
# print(df_ctrl)

df_gpt = pd.read_csv("new_gpt.csv") 
df_gpt.drop(columns=["Unnamed: 0"], inplace=True)
# print(df_gpt)

df_gpt2 = pd.read_csv("new_gpt2.csv") 
df_gpt2.drop(columns=["Unnamed: 0"], inplace=True)
# print(df_gpt2)

df_grover = pd.read_csv("new_grover.csv") 
df_grover.drop(columns=["Unnamed: 0"], inplace=True)
# print(df_grover)

df_xlm = pd.read_csv("new_xlm.csv") 
df_xlm.drop(columns=["Unnamed: 0"], inplace=True)
# print(df_xlm)

df_xlnet = pd.read_csv("new_xlnet.csv") 
df_xlnet.drop(columns=["Unnamed: 0"], inplace=True)
# print(df_xlnet)

df_pplm = pd.read_csv("new_pplm.csv") 
df_pplm.drop(columns=["Unnamed: 0"], inplace=True)
# print(df_pplm)

df_fair = pd.read_csv("new_fair.csv") 
df_fair.drop(columns=["Unnamed: 0"], inplace=True)
# print(df_fair)

df_gpt3 = pd.read_csv("final_text_curie_output.csv") 
df_gpt3.drop(columns=["Prompts"], inplace=True)
df_gpt3.drop(columns=["Unnamed: 0"], inplace=True)
df_gpt3 = df_gpt3.rename(columns={'Responses': 'Generation', 'Model Name': 'label'})
# print(df_gpt3)

df_instructgpt = pd.read_csv("final_instructgpt_results.csv") 
df_instructgpt.drop(columns=["Title"], inplace=True)
df_instructgpt.drop(columns=["Unnamed: 0"], inplace=True)
df_instructgpt = df_instructgpt.rename(columns={'InstructGPT_result': 'Generation', 'Model': 'label'})
# print(df_instructgpt)

result = pd.concat([df_human, df_ctrl, df_gpt, df_gpt2, df_grover,df_xlm, df_xlnet, df_pplm, df_fair, df_gpt3, df_instructgpt], axis=0)
result.drop(columns=["number"], inplace=True)
print(result)

                                             Generation        label
0     Latest Headlines on CNN Business the great shu...        human
1     China wants to take a victory lap over its han...        human
2     Coronavirus disinformation creates challenges ...        human
3     China coronavirus: Eating wild animals made il...        human
4     China's economy could shrink for the first tim...        human
...                                                 ...          ...
1061         100%. All parts of your body are your own.  InstructGPT
1062  1. Establish regular cleaning schedules for al...  InstructGPT
1063  In some cities around the world, including Tok...  InstructGPT
1064  . The BBC News app is a comprehensive and easy...  InstructGPT
1065  The BBC is implementing several steps to stren...  InstructGPT

[11727 rows x 2 columns]

In [ ]:
print(result)

unique_names_df = result.drop_duplicates(subset='label',keep = 'first')
print(unique_names_df)

unique_names_df

                                             Generation        label
0     Latest Headlines on CNN Business the great shu...        human
1     China wants to take a victory lap over its han...        human
2     Coronavirus disinformation creates challenges ...        human
3     China coronavirus: Eating wild animals made il...        human
4     China's economy could shrink for the first tim...        human
...                                                 ...          ...
1061         100%. All parts of your body are your own.  InstructGPT
1062  1. Establish regular cleaning schedules for al...  InstructGPT
1063  In some cities around the world, including Tok...  InstructGPT
1064  . The BBC News app is a comprehensive and easy...  InstructGPT
1065  The BBC is implementing several steps to stren...  InstructGPT

[11727 rows x 2 columns]
                                          Generation        label
0  Latest Headlines on CNN Business the great shu...        human
0  latest headlines on cnn business tl;dr the u.s...         ctrl
0  latest headlines on cnn business. " it's a goo...          gpt
0  latest headlines on cnn business - google's go...         gpt2
0  Latest Headlines on CNN Business cnn business ...       grover
0  latest headlines on cnn business, tuesday and ...          xlm
0  latest headlines on cnn business dedudithitt i...        xlnet
0  | | latest headlines on cnn business cnn busin...         pplm
0  latest headlines on cnn business : u.s. unempl...         fair
0  A new system of taxation in the United StatesT...        GPT-3
0  1. The Dow plummets over 600 points as second ...  InstructGPT

                                          Generation        label
0  Latest Headlines on CNN Business the great shu...        human
0  latest headlines on cnn business tl;dr the u.s...         ctrl
0  latest headlines on cnn business. " it's a goo...          gpt
0  latest headlines on cnn business - google's go...         gpt2
0  Latest Headlines on CNN Business cnn business ...       grover
0  latest headlines on cnn business, tuesday and ...          xlm
0  latest headlines on cnn business dedudithitt i...        xlnet
0  | | latest headlines on cnn business cnn busin...         pplm
0  latest headlines on cnn business : u.s. unempl...         fair
0  A new system of taxation in the United StatesT...        GPT-3
0  1. The Dow plummets over 600 points as second ...  InstructGPT

# New Section

# New Section

In [ ]:
result = pd.DataFrame(columns=['T1', 'T2', 'Same_OR_Not'])
list_df = [df_ctrl, df_gpt, df_gpt2, df_grover,df_xlm, df_xlnet, df_pplm, df_fair, df_gpt3, df_instructgpt,df_human]
for df1 in list_df:
  for df2 in list_df:
    new_df1 = df1.rename(columns={'Generation': 'T1'})
    new_df1 = new_df1[['T1']]
    new_df2 = df2.rename(columns={'Generation': 'T2'})
    new_df2 = new_df2[['T2']]
    cross_product = pd.merge(new_df1.assign(key=0), new_df2.assign(key=0), on='key').drop('key', axis=1)
    if(df1.loc[0, 'label'] == df2.loc[0, 'label']) :
      cross_product = cross_product.assign(Same_OR_Not= 1)
      sampled_cross_product = cross_product.sample(n=550)
    else:
      cross_product = cross_product.assign(Same_OR_Not= 0)
      sampled_cross_product = cross_product.sample(n=55)

    
    result = pd.concat([result,sampled_cross_product])

In [ ]:
result = result.sample(frac = 1)
print(result.head(10))

                                                        T1  \
712113   nato secretary general: why we're in afghanist...
978595   with coronavirus, it's time to declare a natio...
912321   coronavirus live updates: trump to declare nat...
344716   how nasa's apollo program kicked off silicon v...
676458   This 5-year-old paid off the lunch balances fo...
298756   meet north korea's art dealer to the west art ...
673579   tourists being kept under coronavirus quaranti...
1007086  science & environment the male love with it an...
866510   top cnn op-eds of 2015 (so far),;–—: a large n...
226237   | | city of tomorrow city of tomorrow was a sc...

                                                        T2 Same_OR_Not
712113   why the impact of coronavirus could be particu...           1
978595   a history of wuhan, one-time chinese capital a...           1
912321   opinion | we need to flatten the curve. trump ...           1
344716   transcripts. " what's going on? " i asked, fee...           0
676458   hoshinoya tokyo: japan's most luxurious urban ...           0
298756   the designers changing the conversation around...           1
673579   us politics there he and her husband are the p...           1
1007086  the real terror threat in america is homegrown...           1
866510   The coronavirus outbreak has created an unprec...           0
226237   | | why women feel pressured to shave their he...           1

In [ ]:
import numpy as np
result = result. replace(np. nan,'',regex=True)

In [ ]:
num_nan1 = result['T1'].isna().sum()
print(num_nan1)
num_nan2 = result['T2'].isna().sum()
print(num_nan2)
print(result['T1'])

0
0
712113    nato secretary general: why we're in afghanist...
978595    with coronavirus, it's time to declare a natio...
912321    coronavirus live updates: trump to declare nat...
344716    how nasa's apollo program kicked off silicon v...
676458    This 5-year-old paid off the lunch balances fo...
                                ...
95736     why india's citizenship law crosses the line f...
976935    | | opinion | how to fix the coronavirus testi...
717147    trump's speech won't erase his bumbling respon...
836626    'we need a restroom revolution' the, and all o...
212489    help famine victims in africa, yemen and the m...
Name: T1, Length: 12100, dtype: object

In [ ]:
import nltk
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

nltk.download('punkt')

# Tokenize the text data
result['tokenized_data1'] = result['T1'].apply(nltk.word_tokenize)
result['tokenized_data2'] = result['T2'].apply(nltk.word_tokenize)

# Convert the tokenized data to a bag-of-words representation using TF-IDF
vectorizer = TfidfVectorizer()
X = pd.DataFrame(index=result.index)
X = result.apply(lambda x: ' '.join(x['tokenized_data1']) + ' ' + ' '.join(x['tokenized_data2']), axis=1)

X = vectorizer.fit_transform(X)

# Convert the target variable to a numerical format
result['Same_OR_Not'] = result['Same_OR_Not'].astype(int)

# Split the data into training and testing sets with stratification
X_train, X_test, y_train, y_test = train_test_split(X, result['Same_OR_Not'], test_size=0.2, random_state=42, stratify=result['Same_OR_Not'])

# Check that the classes are balanced in the testing set
print(y_test.value_counts())

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

1    1210
0    1210
Name: Same_OR_Not, dtype: int64

In [ ]:
print(X)

  (0, 65208)	0.018456454906912906
  (0, 15501)	0.046693430770826765
  (0, 59244)	0.052285214227151565
  (0, 19434)	0.04282982672604947
  (0, 70134)	0.04547461106068999
  (0, 26226)	0.04703009486729524
  (0, 58503)	0.0480433732469269
  (0, 15727)	0.04017592437677007
  (0, 49669)	0.04693717054229882
  (0, 65663)	0.03131257736770313
  (0, 70064)	0.017442836055110565
  (0, 40116)	0.017225784664081287
  (0, 61159)	0.04373475866807176
  (0, 49227)	0.0337327519855769
  (0, 39653)	0.039862828724787
  (0, 58178)	0.052028119578743065
  (0, 15677)	0.047410491115315825
  (0, 23002)	0.038149556908966674
  (0, 65345)	0.026666869445679645
  (0, 65776)	0.04327226643478787
  (0, 61144)	0.026461609182481978
  (0, 62565)	0.04303812207525978
  (0, 47014)	0.021294616672437757
  (0, 14661)	0.04224875241054517
  (0, 63303)	0.027041803838987834
  :	:
  (12099, 64153)	0.06325021724033977
  (12099, 64919)	0.011897262305690996
  (12099, 35076)	0.07384565507332848
  (12099, 64567)	0.015700011821201492
  (12099, 64305)	0.02656488338790713
  (12099, 47267)	0.020832101089118232
  (12099, 60091)	0.044739812566390334
  (12099, 56276)	0.023563443020263832
  (12099, 58224)	0.2001555485080474
  (12099, 32879)	0.022862460744711526
  (12099, 8333)	0.038437906113622355
  (12099, 47006)	0.036864796689727725
  (12099, 25025)	0.024592226530182438
  (12099, 31636)	0.0510773313909627
  (12099, 30843)	0.10443787067489071
  (12099, 64180)	0.15665297292710934
  (12099, 65157)	0.17460630589249623
  (12099, 21433)	0.02335158263030209
  (12099, 17747)	0.027179684587465166
  (12099, 70503)	0.034093662996762863
  (12099, 7190)	0.11355977078374485
  (12099, 33339)	0.03514708838531646
  (12099, 53165)	0.02943433302527246
  (12099, 70108)	0.05587113610911985
  (12099, 70890)	0.02799858033789042

In [ ]:
X
result.head(5)

,T1,T2,Same_OR_Not,tokenized_data1,tokenized_data2
712113,nato secretary general: why we're in afghanist...,why the impact of coronavirus could be particu...,1,"[nato, secretary, general, :, why, we, 're, in...","[why, the, impact, of, coronavirus, could, be,..."
978595,"with coronavirus, it's time to declare a natio...","a history of wuhan, one-time chinese capital a...",1,"[with, coronavirus, ,, it, 's, time, to, decla...","[a, history, of, wuhan, ,, one-time, chinese, ..."
912321,coronavirus live updates: trump to declare nat...,opinion | we need to flatten the curve. trump ...,1,"[coronavirus, live, updates, :, trump, to, dec...","[opinion, |, we, need, to, flatten, the, curve..."
344716,how nasa's apollo program kicked off silicon v...,"transcripts. "" what's going on? "" i asked, fee...",0,"[how, nasa, 's, apollo, program, kicked, off, ...","[transcripts., ``, what, 's, going, on, ?, ``,..."
676458,This 5-year-old paid off the lunch balances fo...,hoshinoya tokyo: japan's most luxurious urban ...,0,"[This, 5-year-old, paid, off, the, lunch, bala...","[hoshinoya, tokyo, :, japan, 's, most, luxurio..."

In [ ]:
pip install torch

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch in /usr/local/lib/python3.9/dist-packages (1.13.1+cu116)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.9/dist-packages (from torch) (4.5.0)

In [ ]:
# Create an SVM model and fit the model to the training data
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
svm_model = SVC(kernel='linear', C=1, random_state=42)
svm_model.fit(X_train, y_train)

# Predict the labels for the testing data
y_pred = svm_model.predict(X_test)
# print(X_test)
print(y_pred)

# Evaluate the model's performance using metrics such as accuracy, precision, recall, and F1-score
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

[1 0 0 ... 1 0 0]

In [ ]:
f1_scores = f1_score(y_test, y_pred, average=None)
macro_f1_score = np.mean(f1_scores)
print(f"Per-class F1 scores: {f1_scores}")
print(f"Macro F1 score: {macro_f1_score}")

print(f"Accuracy: {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1-score: {f1:.2f}")

Per-class F1 scores: [0.51105651 0.50208507]
Macro F1 score: 0.5065707909744606
Accuracy: 0.51
Precision: 0.51
Recall: 0.51
F1-score: 0.51

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Create a Random Forest model and fit the model to the training data
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Predict the labels for the testing data
y_pred = rf_model.predict(X_test)

# Evaluate the model's performance using metrics such as accuracy, precision, recall, and F1-score
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

f1_scores = f1_score(y_test, y_pred, average=None)
macro_f1_score = np.mean(f1_scores)
print(f"Per-class F1 scores: {f1_scores}")
print(f"Macro F1 score: {macro_f1_score}")

print(f"Accuracy: {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1-score: {f1:.2f}")

Per-class F1 scores: [0.74745763 0.75967742]
Macro F1 score: 0.7535675232367414
Accuracy: 0.75
Precision: 0.75
Recall: 0.75
F1-score: 0.75

In [ ]:
import string
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

nltk.download("punkt")
nltk.download("stopwords")

def preprocess(text):
    # Remove punctuation
    text = text.translate(str.maketrans("", "", string.punctuation))

    # Lowercase the text
    text = text.lower()

    # Tokenize the text into individual words
    words = word_tokenize(text)

    # Remove stop words
    words = [word for word in words if word not in stopwords.words("english")]

    # Join the words back into a string
    preprocessed_text = " ".join(words)

    return preprocessed_text

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
# Preprocess the input text
input_text = "This is a test sentence."
preprocessed_text = preprocess(input_text)

# Convert the preprocessed text into a feature vector
vectorized_text = vectorizer.transform([preprocessed_text])

# Use the trained Random Forest model to predict the label
predicted_label = rf_model.predict(vectorized_text)[0]

print(predicted_label)

1

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Create a logistic regression model and fit the model to the training data
lr_model = LogisticRegression(random_state=42)
lr_model.fit(X_train, y_train)

# Predict the labels for the testing data
y_pred = lr_model.predict(X_test)

# Evaluate the model's performance using metrics such as accuracy, precision, recall, and F1-score
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

f1_scores = f1_score(y_test, y_pred, average=None)
macro_f1_score = np.mean(f1_scores)
print(f"Per-class F1 scores: {f1_scores}")
print(f"Macro F1 score: {macro_f1_score}")

print(f"Accuracy: {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1-score: {f1:.2f}")

Per-class F1 scores: [0.491419   0.50428397]
Macro F1 score: 0.4978514847477704
Accuracy: 0.50
Precision: 0.50
Recall: 0.50
F1-score: 0.50

In [ ]:
from sklearn.naive_bayes import MultinomialNB

# Create a Multinomial Naive Bayes model and fit the model to the training data
nb_model = MultinomialNB()
nb_model.fit(X_train, y_train)

# Predict the labels for the testing data
y_pred = nb_model.predict(X_test)

# Evaluate the model's performance using metrics such as accuracy, precision, recall, and F1-score
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')

f1_scores = f1_score(y_test, y_pred, average=None)
macro_f1_score = np.mean(f1_scores)
print(f"Per-class F1 scores: {f1_scores}")
print(f"Macro F1 score: {macro_f1_score}")

print(f"Accuracy: {accuracy:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")
print(f"F1-score: {f1:.2f}")

Per-class F1 scores: [0.48730964 0.51050081]
Macro F1 score: 0.4989052262122467
Accuracy: 0.50
Precision: 0.50
Recall: 0.50
F1-score: 0.50

In [ ]:
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import f1_score

# encode the labels
label_encoder = LabelEncoder()
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
model = SVC(kernel='linear', C=1, random_state=42)

# fit the model
model.fit(X_train, y_train_encoded)

# predict the labels
y_pred_encoded = model.predict(X_test)

# decode the predicted labels
y_pred = label_encoder.inverse_transform(y_pred_encoded)

# calculate the f1 score for each class
f1_scores = f1_score(y_test, y_pred, average=None)

# print the class names and their corresponding f1 scores
class_names = label_encoder.classes_
for i, class_name in enumerate(class_names):
    print(f"{class_name}: {f1_scores[i]}")

0: 0.511056511056511
1: 0.5020850708924103